.testimonial {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 1.125rem 70px 1.125rem;

  &--last-child {
    padding-bottom: 0;
  }

  @mixin atMedLarge {
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  &__photo {
    margin: 0 auto -80px auto;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.8);
    overflow: hidden;
    width: 160px;
    height: 160px;
    position: relative;
    top: -80px;
  }

  &__title {
    text-align: center;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
  }

  &__subtitle {
    margin-top: 0.5rem;
    text-align: center;
    color: $mainOrange;
    font-size: 1rem;
    font-weight: 400;
  }
}
